/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
}

.swiper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 200px;
	.swiper-wrapper {
		background-color: white;
		.swiper-slide {
			img {
				width: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 92%;
		color: black;
		font-weight: bolder;
		position: relative;
		padding-top: 3px;
	}

	.swiper-button-prev {
		margin-right: auto;
		height: 50px;
		width: 50px;
	}

	.swiper-button-next {
		margin-left: auto;
		height: 50px;
		width: 50px;
	}
}
