/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.swiper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	.swiper-wrapper {
		.swiper-slide {
			.components-button {
			}
			img {
				width: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
				margin-bottom: -5px;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		top: 92%;
		margin-top: 1px;
		color: black;
		font-weight: bolder;
		position: relative;
		padding-top: 4px;
		padding-bottom: 2px;
	}

	.swiper-button-prev {
		margin-right: auto;
		height: 55px;
		width: 50px;
	}

	.swiper-button-next {
		margin-left: auto;
		height: 50px;
		width: 50px;
	}
}

.swiper .swiper-button-next {
	position: absolute !important;
	bottom: 3px !important;
	top: unset;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 22px !important;
}

.swiper-pagination-bullet-active {
	opacity: var(--swiper-pagination-bullet-opacity, 1);
	background: black !important;
}

@media only screen and (max-height: 200px) {
	.swiper {
		background-color: gray;
	}
}

.swiper.swiper-initialized {
    background: #d3d3d34f;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
    display: flex;
}